@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');

:root {
  --bleu-fonce: #023047;
  --bleu-ciel: #a2d2ff;
  --gris-fonce: #adb5bd;
  --gris-ciel: #e9ecef;
  --rouge: #ff595e;
  --verte: #9ef01a;
  --ombrage: 0px 0px 11px -4px rgba(66, 68, 90, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.card {
  box-shadow: -3px 0px 12px -3px rgba(9, 3, 71, 0.39);
}

.card:hover {
  box-shadow: -3px 0px 12px 1px rgba(9, 4, 65, 0.39);
}

.admin_routes {
  background: #f1efef;
  width: 100%;
  min-height: 100vh;
  display: grid;
  /* ndenge il faut elakisa biloko ya kati*/
  grid-template-columns: 280px auto;
  /* positioner elements enfants*/
}

#topbar {
  display: none;
}

.text-bleu-fonce {
  color: var(--bleu-fonce, #023047);
}

.text-bleu-ciel {
  color: var(--bleu-ciel, #a2d2ff);
}

.text-gris-fonce {
  color: var(--gris-fonce, #adb5bd);
}

.text-gris-ciel {
  color: var(--gris-ciel, #e9ecef);
}

.text-rouge {
  color: var(--rouge, #ff595e);
}

.text-verte {
  color: var(--verte, #9ef01a);
}

.bg-bleu-fonce {
  background-color: var(--bleu-fonce, #023047);
  color: #fff;
  /* opposite text color */
}

.bg-bleu-ciel {
  background-color: var(--bleu-ciel, #a2d2ff);
  color: #000;
  /* opposite text color */
}

.bg-gris-fonce {
  background-color: var(--gris-fonce, #adb5bd);
  color: #fff;
  /* opposite text color */
}

.bg-gris-ciel {
  background-color: var(--gris-ciel, #e9ecef);
  color: #000;
  /* opposite text color */
}

.bg-rouge {
  background-color: var(--rouge, #ff595e);
  color: #fff;
  /* opposite text color */
}

.bg-verte {
  background-color: var(--verte, #9ef01a);
  color: #000;
  /* opposite text color */
}

.waring-message {
  width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 1080px) {

  #sidebar {
    display: none;
  }

  #topbar {
    display: block;
    width: 100%;
  }



  .admin_routes {
    background: #f1efef;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
  }
}